#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-header2 {
  width: 390px;
  height: 844px;
  background: #fff;
  border: 1px solid #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 72px;
}

.TitleUpload {
  width: 206px;
  height: 42px;
  margin: 10 auto;
  text-align: center;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #000000;
}

.ImageUploadButton,
.ImageUploadButtonInput {
  position: absolute;
  top: 148px;
  left: 50%;
  transform: translateX(-50%);

  width: 248px;
  height: 240px;
  box-sizing: border-box;

  background: rgba(244, 244, 244, 0.43);
  border: 1.045px solid #AAA0A0;
  box-shadow: -1px -1px 4px rgba(0, 67, 76, 0.25), 1px 1px 4px rgba(0, 67, 76, 0.25);
  border-radius: 5.23px;
  text-align: center;

  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #6C6C6C;
}

.ImageUploadButtonInput {
  opacity: 0;
  pointer-events: all;
  cursor: pointer;

}

.ScanButton {
  position: absolute;
  left: 50%;
  bottom: 40%;
  transform: translateX(-50%);


  width: 153px;
  height: 59px;
  padding: 4px 6px;
  gap: 10px;
  background: #5164BF;
  border-radius: 20px;
  /* filter: blur(100px); */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: #FFFFFF;

}

.NavBar {
  width: 327px;
  height: 70px;
  background: #FFFFFF;
  border-radius: 20px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #00707E;
  padding: 0px 0px 0px 0px;

}

.pictureDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 350px 0px 0px 0px;
}
.pictureDetails {
  outline: 2px solid yellow;
}

/* .shadowNav {
  width: 300px;
  height: 70px;

  background: rgba(30, 30, 30, 0.1);
  filter: blur(15px);
  border-radius: 20px;
} */

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0.3em;
  border-radius: 4px;
}

.Home-inactive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0.3em;
  border-radius: 4px;
}

.uploadNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0.3em;
  border-radius: 4px;

}

.mapNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0.3em;
  border-radius: 4px;

}

.userNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0.3em;
  border-radius: 4px;

}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}